@use "../../../vars.scss" as *;


.navigation_row{
    margin-top: 15px;
    margin-bottom: 30px;
  }

.pacientes_navigation{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: $primary--blue;
}
  
.container-fluid{
    width: 80vw;
}

.title_container{
    display: flex;
    align-items: center;
  }

.section_title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: $primary--blue;
}

.full-width{
    width: 100%;
    padding: 0 15px;
  }

.bc-c{
    background-color: transparent;
}

.pacientes_header_row{
    margin-top: 15px;
    margin-bottom: 20px;
  }

.emergency-contact-data{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #7A7A7A;
  margin: 10px 0px 10px 20px;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.personales-patologicos-label{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #407DDA;
}

.personales-patologicos-radio-group{
  align-items: center;
}

.personales-patologicos-control  label {
  margin-bottom: 0px;
}

.mdc-radio label {
  margin-bottom: 0px !important;
}

mat-expansion-panel {
  margin-bottom:  18px;
}

.main-container {
  margin-bottom:  50px ;
}

//botones para acciones
.action-button-confirm{
  background-color: #6CA6FE;
  height: 35px;
  letter-spacing: 0.02em;
  box-shadow: none !important;
}

.action-button-cancel{
  background-color: $warn--primary;
  height: 35px;
  letter-spacing: 0.02em;
  box-shadow: none !important;
}

.custom-actions{
  text-align: end;
  margin: 20px 0px;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-bottom: 15px;
}

//JCMV to style inputs as design required DO NOT REMOE
:host ::ng-deep .mdc-text-field--focused {
  background-color: transparent;
}

:host ::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  opacity: 0;
}

:host ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #6CA6FE;
}

:host ::ng-deep  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #6CA6FE;
}

:host ::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: #6CA6FE;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: #6CA6FE;
}
//JCMV to style inputs as design required DO NOT REMOE