<app-nav-bar></app-nav-bar>
<div class="progress-loader" *ngIf="spinner">
    <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
  </div>
<form [formGroup]="crearPacientesForm">
    <div class="container-fluid main-container">
        <div class="row navigation_row">
            <div class="col-12">
                <span class="pacientes_navigation">Inicio > Pacientes</span>
            </div>
        </div>
        <section id="ficha_identificacion">
            <div class="row pacientes_header_row">
                <div class="col-12">
                    <div class="title_container">
                        <span class="section_title">Ficha de Identificación</span>
                    </div>
                </div>
            </div>
            <section class="row">
                <div class="col-4">
                    <mat-form-field  class="full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="crearPacientesForm.controls['name'].invalid">Debes ingresar el numbre</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field  class="full-width">
                        <mat-label>Apellido Paterno</mat-label>
                        <input matInput formControlName="middle_name">
                        <mat-error *ngIf="crearPacientesForm.controls['middle_name'].invalid">Debes ingresar el apellido paterno</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field  class="full-width">
                        <mat-label>Apellido Materno</mat-label>
                        <input matInput formControlName="last_name">
                        <mat-error *ngIf="crearPacientesForm.controls['last_name'].invalid">Debes ingresar el apellido materno</mat-error>
                    </mat-form-field>
                </div>
            </section>
            <section class="row">
                <div class="col-4">
                    <mat-form-field class="full-width">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date_of_birth" (dateInput)="onDateChange($event)" (dateChange)="onDateChange($event)">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-error *ngIf="crearPacientesForm.controls['date_of_birth'].invalid">Debes ingresar la fecha de nacimiento</mat-error>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field  class="full-width" >
                        <mat-label>Edad</mat-label>
                        <input matInput formControlName="age">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="full-width">
                        <mat-label>Sexo</mat-label>
                        <mat-select matNativeControl formControlName="gender">
                          <mat-option value="MALE">Masculino</mat-option>
                          <mat-option value="FEMALE">Femenino</mat-option>
                          <mat-option value="OTHER">Indefinido</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </section>
            <section class="row">
                <div class="col-4">
                    <mat-form-field  class="full-width" >
                        <mat-label>Ocupación</mat-label>
                        <input matInput formControlName="occupation">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="full-width">
                        <mat-label>Estado Civil</mat-label>
                        <mat-select matNativeControl formControlName="marital_status">
                          <mat-option value="MARRIED">Casad@</mat-option>
                          <mat-option value="DIVORCED">Divorciad@</mat-option>
                          <mat-option value="NA">No aplica</mat-option>
                          <mat-option value="SEPARATED">Separad@</mat-option>
                          <mat-option value="SINGLE">Solter@</mat-option>
                          <mat-option value="COMMON LAW">Union Libre</mat-option>
                          <mat-option value="WIDOWED">Viud@</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field  class="full-width">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="phone">
                        <mat-error *ngIf="crearPacientesForm.controls['phone'].invalid">{{getPhoneErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </section>
            <section class="row">
                <div class="col-4">
                    <mat-form-field  class="full-width" >
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="crearPacientesForm.controls['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field  class="full-width" >
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="address">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field  class="full-width">
                        <mat-label>RFC</mat-label>
                        <input matInput formControlName="rfc">
                    </mat-form-field>
                </div>
            </section>
            <section class="row">
                <div class="col-12">
                    <mat-form-field  class="full-width" >
                        <mat-label>Motivo de Consulta</mat-label>
                        <input matInput formControlName="reason_for_consultation">
                    </mat-form-field>
                </div>
            </section>
            <p class="emergency-contact-data">Contacto de emergencia</p>
            <section class="row">
                <div class="col-4">
                    <mat-form-field  class="full-width" >
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="emergency_contact_name">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field  class="full-width">
                        <mat-label>Relación</mat-label>
                        <input matInput formControlName="emergency_contact_relationship">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field  class="full-width">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="emergency_contact_phone">
                    </mat-form-field>
                </div>
            </section>
        </section>
        <section id="eredofamiliares">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title class="section_title">
                        Antecedentes Heredofamiliares
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <section class="row">
                        <div class="col-12">
                            <mat-form-field class="full-width">
                                <mat-label></mat-label>
                                <textarea formControlName="family_medical_history" matInput placeholder="Diabetes, cardiovasculares, etc..." rows="2"></textarea>
                              </mat-form-field>
                        </div>
                    </section>
                  </mat-expansion-panel>
            </mat-accordion>
        </section>
        <section id="personalesPatologicos" formGroupName="personal_medical_history">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title class="section_title">
                        Antecedentes Personales Patologicos
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!--TODO Content here-->
                    <section class="row" formGroupName="bajoTratamientoMedico">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">¿Esta usted bajo algún tratamiento medico?</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="intervencionQuirurgica">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">¿Le han practicado alguna intervención quirúrgica?</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="consumeDrogas">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">¿Ha consumido o consume drogas?</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="problemasPresion">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">¿Problemas de presión arterial?</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="hepatitis">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Hepatitis</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="vih">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">VIH</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="ets">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Enfermedad de transmisión sexual</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="problemaCorazon">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Problemas de corazón</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="fiebreReumatica">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Fiebre Reumatica</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="asma">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Asma</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="diabetes">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Diabetes</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="ulceraGastrica">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Ulcera gástrica</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="tiroides">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Tiroides</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="alergias">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Alergia (Penicilina, anestesia, aspirina, alimentos, etc.)</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="epilepsia">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Epilepsia</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="gastritis">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Gastritis</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="row" formGroupName="embarazo">
                        <div class="col-6">
                            <div class="row personales-patologicos-control">
                                <div class="col-6">
                                    <label class="personales-patologicos-label">Embarazo</label>
                                </div>
                                <div class="col-6">
                                    <mat-radio-group aria-label="Select an option" formControlName="respuesta">
                                        <mat-radio-button value="Si">Si</mat-radio-button>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="full-width">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="comentarios">
                            </mat-form-field>
                        </div>
                    </section>
                </mat-expansion-panel>
            </mat-accordion>
        </section>
        <section class="crear-pacientes-actions">
            <div class="row">
                <div class="col-12 custom-actions">
                    <button *ngIf="!pacienteId" mat-fab extended class="action-button-confirm  mat-elevation-z0 mr-3" [disableRipple]="true" (click)="crearPaciente()">
                        Guardar
                    </button>
                    <button *ngIf="pacienteId" mat-fab extended class="action-button-confirm  mat-elevation-z0 mr-3" [disableRipple]="true" (click)="actualizarPaciente()">
                        Actualizar
                    </button>
                    <button mat-fab extended class="action-button-cancel  mat-elevation-z0" [disableRipple]="true">
                        Cancelar
                    </button>
                </div>
            </div>
        </section>
    </div>
</form>
