<mat-toolbar class="main-toolbar">
    <img src="../../../assets/img/logo.png" alt="">
    
    <span class="spacer"></span>
    <button class="menu-item no-hover-effect" mat-button [disableRipple]="true">
        <span>Pacientes</span>
    </button>
    <button class="menu-item" mat-button [disableRipple]="true">
        <span>Agenda</span>
    </button>
    <button class="menu-item" mat-button [disableRipple]="true">
        <span>Recetas</span>
    </button>
    <button class="menu-item" mat-button [disableRipple]="true">
        <span>Finanzas</span>
    </button>
    <button class="menu-item" mat-button [disableRipple]="true">
        <span>Configuraciones</span>
    </button>
    <button mat-fab extended class="logout-navbar-button mat-elevation-z0" [disableRipple]="true">
        <mat-icon>logout</mat-icon>
        Log Out
      </button>
  </mat-toolbar>