<mat-toolbar class="main-toolbar">
    <img src="../../../assets/img/logo.png" alt="">
    
    <span class="spacer"></span>
    <button class="menu-item no-hover-effect" mat-button [disableRipple]="true">
        <span>Pacientes</span>
    </button>
    <button class="menu-item" mat-button [disableRipple]="true">
        <span>Agenda</span>
    </button>
    <button class="menu-item" mat-button [disableRipple]="true">
        <span>Recetas</span>
    </button>
    <button class="menu-item" mat-button [disableRipple]="true">
        <span>Finanzas</span>
    </button>
    <button class="menu-item" mat-button [disableRipple]="true">
        <span>Configuraciones</span>
    </button>
    <!-- <button class="menu-item dashboard_button"><mat-icon class="dashboard_logout_icon" svgIcon="logout"></mat-icon><span class="label_exception">Log Out</span></button> -->
    <button class="extended-fab-button" mat-fab color="primary">
        <div class="custom-wrapper">
            <mat-icon>speaker_notes</mat-icon>
            <span class="extended-fab-button__text">Log Out</span>
        </div>
        
      </button>
  </mat-toolbar>