<app-nav-bar></app-nav-bar>
<div class="progress-loader" *ngIf="spinner">
    <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
  </div>
<div class="container">
    <div class="row navigation_row">
        <div class="col-12">
            <span class="pacientes_navigation">Inicio > Pacientes > Consentimientos Informados</span>
        </div>
    </div>
    <div class="row pacientes_header_row">
        <div class="col-6">
            <div class="title_container">
                <mat-icon svgIcon="concentimientos" class="dashboard_agenda_icon"></mat-icon>
                <span class="pacientes_title">Consentimientos Informados</span>
            </div>
        </div>
        <div class="col-6">
            <div class="nuevo_paciente_button_container"> <button mat-fab extended class="logout-navbar-button mat-elevation-z0" [disableRipple]="true" (click)="createConsentDialog()">Agregar Consentimiento</button> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
             
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="id-header-column"> ID</th>
                  <td mat-cell *matCellDef="let element" class="id-content-column"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="signin-header-column"> Fecha de creacion </th>
                    <td mat-cell *matCellDef="let element"class="signin-content-column"> {{element.createdAt }} </td>
                  </ng-container>
                <ng-container matColumnDef="consent">
                  <th mat-header-cell *matHeaderCellDef class="name-header-column"> Consentimiento </th>
                  <td mat-cell *matCellDef="let element" class="name-content-column"> {{element.consent}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="nextdate-header-column"> Acciones </th>
                    <td mat-cell *matCellDef="let element" class="nextdate-content-column"> 
                        <div class="dashboard_list_container">
                            <div class="dashboard_list_actons">
                                <mat-icon class="dashboard_logout_icon" svgIcon="editaCita" ></mat-icon>
                                <mat-icon class="dashboard_logout_icon" svgIcon="eliminaCita"></mat-icon>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-paginator
                [length]="0"
                [pageSize]="10"
                [pageSizeOptions]="[10, 30]"
                aria-label="Select page"
                class="custom-paginator">
            </mat-paginator>
        </div>
    </div>
</div>
