<div class="custom-container">
    <h1 mat-dialog-title class="dialog-title">Imprimir Consentimiento</h1>
    <div mat-dialog-content>
        <mat-form-field class="full-width">
            <mat-label>Elige el consentimiento a imprimir</mat-label>
            <mat-select [formControl]="informedConsent" >
                <mat-option *ngFor="let consent of informedConsentList" [value]="consent.name">{{consent.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="center">
      <button mat-button (click)="cancel()" color="warn">Cancelar</button>
      <button mat-button (click)="onSave()" color="primary">imprimir</button>
    </div>
</div>