<div class="custom-container">
    <h1 mat-dialog-title class="dialog-title">Nueva Nota</h1>
    <div mat-dialog-content>
      <mat-form-field class="full-width">
        <mat-label>Fecha de la nota</mat-label>
        <input matInput [matDatepicker]="picker"  [(ngModel)]="creationDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width custom-textarea" appearance="outline">
        <mat-label>Contenido de la nota</mat-label>
        <textarea matInput placeholder=""  [(ngModel)]="noteContent"></textarea>
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="center">
      <button mat-button (click)="cancel()"  color="warn">Cancelar</button>
      <button mat-button (click)="onSave()"  color="primary">Guardar</button>
    </div>
</div>