@use "../../../../vars.scss" as *;

.custom-dialog-title{
  color: $primary--blue;
}

.payment-list-table{
  color: $primary--blue;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid #C0D9FF;
}

table {
    width: 100%;
}

.payment-dialog-resume-controls{
    width: 40%;
}
//JCMV to style inputs as design required DO NOT REMOE
:host ::ng-deep .mdc-text-field--focused {
    background-color: transparent;
  }
  
  :host ::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
    opacity: 0;
  }
  
  :host ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #6CA6FE;
  }
  
  :host ::ng-deep  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #6CA6FE;
  }
  
  :host ::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #6CA6FE;
  }
  
  :host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: #6CA6FE;
  }
  //JCMV to style inputs as design required DO NOT REMOE