<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row navigation_row">
        <div class="col-12">
            <span class="pacientes_navigation">Inicio > Pacientes</span>
        </div>
    </div>
    <div class="row pacientes_header_row">
        <div class="col-6">
            <div class="title_container">
                <mat-icon svgIcon="pacientes" class="dashboard_agenda_icon"></mat-icon>
                <span class="pacientes_title">Pacientes</span>
            </div>
        </div>
        <div class="col-6">
            <div class="nuevo_paciente_button_container"> <button mat-fab extended class="logout-navbar-button mat-elevation-z0" [disableRipple]="true">Agregar Nuevo</button> </div>
            
        </div>
    </div>
    <div class="row filters_row">
        <div class="col-6">
            <mat-form-field appearance="outline" class="actions_inputs bg-transparente">
                <mat-label>Buscar por Nombre o ID</mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>
        <div class="col-6">
            <div class="combo-actions">
                <mat-form-field appearance="outline" class="actions_inputs bg-transparente">
                    <mat-label>Acciones en lote</mat-label>
                    <input matInput placeholder="" value="">
                </mat-form-field>
                <button mat-fab extended class="logout-navbar-button mat-elevation-z0" [disableRipple]="true">Aplicar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef class="selector-column">
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="id-header-column"> ID</th>
                  <td mat-cell *matCellDef="let element" class="id-content-column"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef class="name-header-column"> Nombre </th>
                  <td mat-cell *matCellDef="let element" class="name-content-column"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="ingreso">
                  <th mat-header-cell *matHeaderCellDef class="signin-header-column"> Fecha de registro </th>
                  <td mat-cell *matCellDef="let element"class="signin-content-column"> {{element.registro}} </td>
                </ng-container>
                <ng-container matColumnDef="adeudo">
                  <th mat-header-cell *matHeaderCellDef class="debt-header-column"> Adeudo </th>
                  <td mat-cell *matCellDef="let element" class="debt-content-column"> {{element.adeudo | currency}} </td>
                </ng-container>
                <ng-container matColumnDef="prox_cita">
                    <th mat-header-cell *matHeaderCellDef class="nextdate-header-column"> Proxima cita </th>
                    <td mat-cell *matCellDef="let element" class="nextdate-content-column"> {{element.proximaCita}} </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)">
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-paginator
                [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page"
                class="custom-paginator">
            </mat-paginator>
        </div>
    </div>
</div>
