
<div class="container-fluid">
<div class="row dashboard-header" >
    <!--here goes logo-->
    <div class="col-10">
       <!--  <img src="../../assets/img/logo.png" class="dashboard-logo"> <br> -->
       <h1 class="logo-letter"><span>ODONT</span><span class="second-blue">OFY</span></h1>
        <span class="slogan">Tu aplicacion de gestión odontologica</span>
    </div>
    <div class="col-2" align="end">
        <!-- <button  class="dashboard_button" (click)="doLogout()"><mat-icon class="dashboard_logout_icon" svgIcon="logout" ></mat-icon><span class="label_exception">Log Out</span></button>-->
        <button mat-fab extended  class="dashboard_button mat-elevation-z0" (click)="doLogout()">
            <mat-icon svgIcon="logout"></mat-icon>
            Log Out
          </button>
    </div>
</div>
<div class="row dashboard-title">
    <!--here goes name and settings-->
    <div class="col-6">
        <h1 class="dashboard-title-name">Nombre Apellido</h1>
        <p class="welcome-letter">Bienvenido ¿Que necesitas hacer hoy?</p>
    </div>
    
    <div class="col-6 dashboard_settings" align="end"><mat-icon svgIcon="settings" class="dashboard_settings_icon"></mat-icon></div>
</div>
    <div class="row">
        <div class="col-12">
            <div class="grid-container">
                <div class="item1">
                    <mat-card class="dashboard-card">
                        <div class="custom_card_header">
                            <div class="custom_icon">
                                <mat-icon svgIcon="agenda" class="dashboard_agenda_icon"></mat-icon>
                            </div>
                            <div class="custom_title">
                                <p class="custom_card_title">Agenda</p>
                                <span class="custom-card-subtitle">Consulta tus próximas citas</span>
                            </div>
                            <div class="custom_actions">
                                <button  class="dashboard_button card_button"><span>Nueva Cita</span></button>
                            </div>
                        </div>
                          <mat-card-content>
                            <mat-list role="list">
                                <mat-list-item *ngFor="let number of numbers">
                                    <div class="dashboard_list_container">
                                        <div>
                                            <mat-icon class="dashboard_agenda_dot" svgIcon="agendaDot"></mat-icon>
                                            <span><span class="day">Hoy </span><span class="hour">00:00 </span><span class="date_name">Nombre del paciente</span></span> 
                                        </div>
                                        <div class="dashboard_list_actons">
                                            <mat-icon class="dashboard_logout_icon" svgIcon="iniciaCita"></mat-icon>
                                            <span class="cita">Iniciar cita</span>
                                            <mat-icon class="dashboard_logout_icon" svgIcon="editaCita"></mat-icon>
                                            <mat-icon class="dashboard_logout_icon" svgIcon="eliminaCita"></mat-icon>
                                        </div>
                                    </div>
                                    
                                </mat-list-item>
                              </mat-list>
                          </mat-card-content>
                      </mat-card>                      
                </div>
                <div class="item2">
                    <mat-card class="dashboard-card">
                        <div class="custom_card_header">
                            <div class="custom_icon">
                                <mat-icon svgIcon="finanzas" class="dashboard_agenda_icon"></mat-icon>
                            </div>
                            <div class="custom_title">
                                <p class="custom_card_title">Mis finanzas</p>
                            </div>
                            <div class="custom_actions">
                                <button  class="dashboard_button card_button"><span>Nueva Pago</span></button>
                            </div>
                        </div>
                        <mat-card-content class="finanzas_card_content">
                           <div class="finanzas_container">
                            <div>
                                <p class="dashboard_finanzas_table_title">Total</p>
                                <p class="dashboard_finanzas_table_total">$7000.00</p>
                            </div>
                            <div>
                                <p class="dashboard_finanzas_table_title">Ingreso</p>
                                <p class="dashboard_finanzas_table_ingreso">$5000.00</p>
                            </div>
                            <div>
                                <p class="dashboard_finanzas_table_title">Adeudo Total</p>
                                <p class="dashboard_finanzas_table_adeudo">$-2000.00</p>
                            </div>
                           </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="item3">
                    <mat-card class="dashboard-card">
                        <div class="custom_card_header">
                            <div class="custom_icon">
                                <mat-icon svgIcon="recetas" class="dashboard_agenda_icon"></mat-icon>
                            </div>
                            <div class="custom_title">
                                <p class="custom_card_title">Recetas</p>
                                <span class="custom-card-subtitle">Genera recetas personalizadas</span>
                            </div>
                            <div class="custom_actions">
                                <button  class="dashboard_button card_button"><span>Generar Nueva</span></button>
                            </div>
                        </div>
                        <mat-card-content>
                            
                        </mat-card-content>
                      </mat-card>
                </div>  
                <div class="item4">
                    <mat-card class="dashboard-card">
                        <div class="custom_card_header">
                            <div class="custom_icon">
                                <mat-icon svgIcon="pacientes" class="dashboard_agenda_icon"></mat-icon>
                            </div>
                            <div class="custom_title">
                                <p class="custom_card_title">Pacientes</p>
                                <span class="custom-card-subtitle">Gestiona o agrega pacientes</span>
                            </div>
                            <div class="custom_actions">
                                <button class="dashboard_button card_button" (click)="crearPaciente()"><span>Agregar Nuevo</span></button>
                            </div>
                        </div>
                        <mat-card-content>
                            <div class="pacientes_container">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Buscar por Nombre o ID</mat-label>
                                    <span matPrefix><mat-icon>search</mat-icon> &nbsp;</span>
                                    <input type="tel" class="searchInput" matInput placeholder="">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                      </mat-card>
                </div>
              </div>
            <!-- <h1>Felicidades! estas logeado </h1>
            <button class="button button--confirm" (click)="doLogout()">Logout</button><br> -->
        </div>
    </div>
</div>

